@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  transition: 0.5s all;
  background-color: #f7e4e3;
  display: flex;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container-mushahidah {
  height: 900px;
  width: 400px;
  border-radius: 20px;
  margin: 40px;
  background: 272727;
  padding: 30px;
  background-color: #272727;
  position: relative;
}

.sub-container {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mushahidah-sub-title {
  color: #ffffff;
  font-size: 20px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding-top: 32px;
}

.mushahidah-title {
  color: #ffffff;
  font-size: 15px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

button {
  height: 50px;
  width: 360px;

  padding: 10px;
  margin-top: 15px;
}
.btn-yellow {
  background-color: #ffc700;
  color: black;
}

.btn-blanck {
  background-color: #272727;
  color: white;
  border: 4px solid white;
}
.icons {
  color: #ffc700;
  margin-top: 15px;
  display: flex;
  font-size: x-large;
  gap: 20px;
  position: absolute;
  bottom: 20px;
}
